/******************************  Start Goblal **************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
    font-size: 25px;
    border: none;
    outline: none;
}

/* Small Devices */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium Devices */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large Devices */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

:root {
    --main-color: #03a9f4;
    --text-color: #fff;
    --num-of-colors: 4;
}

body {
    background-color: #000;
    font-family: sans-serif;
}

.container {
    height: 100vh;
    max-width: 100%;
    position: relative;
    padding: 0 10px;
    margin: auto;
}

/******************************  End Goblal **************************************/

/******************************  header **************************************/
.control {
    width: 100%;
    color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 15px 0;
}



.control>span {
    display: inline-block;
    cursor: pointer;
    transition: transform 1s linear;
    transform: rotate(0deg);
}

.control>.colors {
position: absolute;
    height: max-content;
    width: 1px;
    right: 30px;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    gap: 20px;
    box-shadow: inset 0 0 6px var(--main-color);
    border-radius: 10px;
    transition:  width 0.5s linear;
    z-index: -2;
    padding: 10px;
}

.control>.colors>div {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

[data-color='#e91e63'] {
    background: #e91e63;
}

[data-color='#009688'] {
    background: #009688;
}

[data-color='#03a9f4'] {
    background: #03a9f4;
}

[data-color='#0fffff'] {
    background: #0fffff;
}

/* active */
.control.active>span {
    transform: rotate(-360deg);
}

.control.active>span+.colors {
    width: calc(50px * var(--num-of-colors));
    z-index: 1;
}

h1 {
    border-radius: 5px;
    text-align: center;
    width: 100%;
    color: var(--main-color);
    font-size: 40px;
    margin-top: 60px;
}

h1>span {
    font-size: 40px;
}

/******************************  I/P **************************************/
form {
    width: max-content;
    max-width: 100%;
    margin: 10px auto;
    padding: 20px;
    position: relative;
}

form input {
    display: block;
    text-align: center;
    outline: none;
    border-radius: 30px;
    font-size: 20px;
}

form input#word {
    width: 400px;
    max-width: 100%;
    padding: 30px;
    color: var(--text-color);
    border: none;
    border-bottom: 2px solid var(--main-color);
    border-top: 2px solid var(--main-color);
}

form #wordLength {
    position: absolute;
    color: var(--main-color);
    right: 50px;
    bottom: 50%;
    transform: translate(0, -50%);
    font-size: 20px;
    font-family: fantasy;
    display: block;
}

form input[type='submit'] {
    width: 50px;
    height: 50px;
    min-width: max-content;
    padding: 10px;
    margin: 20px auto;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

/******************************  O/P **************************************/
#output {
    width: 600px;
    margin: 0 auto;
    max-width: 100%;
    box-shadow: inset 0 0 10px var(--main-color);
    position: relative;
    z-index: 1;
    border-radius: 10px;
    padding: 30px;
}

#output.animation {
    animation: anime 1S infinite linear;
    animation-direction: alternate;
}

@keyframes anime {
    0%,40%,80%{
        background-color: var(--main-color);
    }

    20%,60%,100%{
        background-color: transparent;
    }
}

#output>p {
    width: 100%;
    max-width: 100%;
    color: var(--text-color);
    text-align: center;
    line-break: anywhere;
    position: relative;
    font-size: 25px;
}

#output>p .show {
    color: #0ff;
    cursor: pointer;
}

#output .checking {
    color: #0f0;
    width: 100%;
    padding: 20px;
    position: absolute;
    text-align: center;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    display: none;
}
#output .checking.active {
    display: block;
}

#output .wordLength {
    width: 100%;
    text-transform: capitalize;
    color: var(--main-color);
    display: block;
}

#output .tryAgain {
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 10px;
    width: max-content;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 20px;
    font-size: 14px;
    display: none;
}
#output .tryAgain.active {
    display: block;
}

footer {
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #fff;
    padding: 10px;
    font-family: sans-serif;
    font-weight: 800;
}

footer>i,
footer .myName {
    color: var(--main-color)
}